In [106]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import warnings
warnings.simplefilter('ignore')

df = pd.read_excel('/Users/seanyu_mac/Downloads/주문내역_2024-03-17~2025-03-17 (3).xlsx')

con1 = df['주문 상태'] == '결제완료'
con2 = df['주문 상태'] == '배송준비'
con3 = df['주문 상태'] == '배송중'
con4 = df['주문 상태'] == '배송완료'
con5 = df['상품 번호'] == 51174

df = df[con5]
df = df[con1 | con2 | con3 | con4]


df.rename(columns={'결제 완료일': '결제 시점'}, inplace=True)

now = datetime.now().strftime('%Y-%m-%d %H:%M분')

print(f'{now} 현재 시간 총 매출은 {df['정산가'].sum():,}원')
print(f'{now} 현재 시간 총 판매건수는 {df.index.size}건')
result_df = pd.DataFrame(df.groupby(pd.Grouper(key='결제 시점', freq='30T'))['정산가'].sum())
result_df['정산가'] = result_df['정산가'].apply(lambda x: f"{x:,} 원")
result_df.rename(columns={'정산가': '매출'})

2025-03-17 18:00분 현재 시간 총 매출은 12,102,200원
2025-03-17 18:00분 현재 시간 총 판매건수는 79건

                              매출
결제 시점
2025-03-17 09:00:00  2,170,300 원
2025-03-17 09:30:00  1,027,400 원
2025-03-17 10:00:00  1,526,800 원
2025-03-17 10:30:00    833,800 원
2025-03-17 11:00:00  1,048,300 원
2025-03-17 11:30:00    865,700 원
2025-03-17 12:00:00    176,000 원
2025-03-17 12:30:00    563,200 원
2025-03-17 13:00:00    214,500 원
2025-03-17 13:30:00    517,000 원
2025-03-17 14:00:00    214,500 원
2025-03-17 14:30:00    731,500 원
2025-03-17 15:00:00    517,000 원
2025-03-17 15:30:00    302,500 원
2025-03-17 16:00:00    422,400 원
2025-03-17 16:30:00    492,800 원
2025-03-17 17:00:00     88,000 원
2025-03-17 17:30:00    390,500 원

In [104]:
df['결제 시점'].max()

Timestamp('2025-03-17 17:52:15.208000')

In [84]:
df.groupby('옵션명')['수량'].sum().sort_values(ascending=False)

옵션명
2박스 (4개월분) (20%)    31
6박스(12개월분) (35%)    29
4박스 (8개월분) (28%)    18
Name: 수량, dtype: int64

In [86]:
address = []

for i in df['주소']:
    data = i.split()[0].strip()
    address.append(data)

df['address'] = address
df.groupby('address')['정산가'].sum().sort_values(ascending=False)

address
경기도        2846800
서울특별시      1931600
부산광역시      1653300
경상남도       1009800
광주광역시       819500
경상북도        548900
대구광역시       429000
전라남도        429000
제주특별자치도     429000
충청남도        390500
강원특별자치도     372900
인천광역시       372900
울산광역시       214500
대전광역시       176000
충청북도        176000
Name: 정산가, dtype: int64

In [88]:
# 카카오톡 스토어 매출도 추가
df1 = pd.read_excel('/Users/seanyu_mac/Downloads/20250317145326.xlsx')

df = df.reset_index()
for i in range(df1.index.size):
    df.loc[df.index.size + 1, ['결제 시점', '정산가']] = df1.loc[i, ['발송요청일', '정산기준금액']].values

now = datetime.now().strftime('%Y-%m-%d %H:%M분')
print(f'{now} 현재 시간 총 매출은 {df['정산가'].sum():,}원')
print(f'{now} 현재 시간 총 판매건수는 {df.index.size}건')
result_df = pd.DataFrame(df.groupby(pd.Grouper(key='결제 시점', freq='30T'))['정산가'].sum())
result_df['정산가'] = result_df['정산가'].apply(lambda x: f"{x:,} 원")
result_df.rename(columns={'정산가': '매출'})

2025-03-17 17:34분 현재 시간 총 매출은 12,134,100.0원
2025-03-17 17:34분 현재 시간 총 판매건수는 80건

                                매출
결제 시점
2025-03-17 09:00:00  2,170,300.0 원
2025-03-17 09:30:00  1,027,400.0 원
2025-03-17 10:00:00  1,526,800.0 원
2025-03-17 10:30:00    833,800.0 원
2025-03-17 11:00:00  1,048,300.0 원
2025-03-17 11:30:00    865,700.0 원
2025-03-17 12:00:00    510,400.0 원
2025-03-17 12:30:00    563,200.0 원
2025-03-17 13:00:00    214,500.0 원
2025-03-17 13:30:00    517,000.0 원
2025-03-17 14:00:00    214,500.0 원
2025-03-17 14:30:00    731,500.0 원
2025-03-17 15:00:00    517,000.0 원
2025-03-17 15:30:00    302,500.0 원
2025-03-17 16:00:00    422,400.0 원
2025-03-17 16:30:00    492,800.0 원
2025-03-17 17:00:00     88,000.0 원
2025-03-17 17:30:00     88,000.0 원